<div class="container">
  <div class="text-center text-uppercase">
    <h2 class="dispaly-4 p-4">
      world news <span class="mainColor">Construction</span>
    </h2>
    <p class="mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptate,
      accusamus sapiente facere distinctio rem.
    </p>
  </div>

  <div class="cards">
    <div class="news-card">
      <img src="./assets/images/2.jpg"/>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quaerat
        illo molestias ea quibusdam voluptatum ullam repellendus nobis,
        reprehenderit sed Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Suscipit, minus?
      </p>
      <div class="buttons">
        <a [routerLink]="['/']" class="btn">01 jan</a>
        <a [routerLink]="['/']" class="btn">read more </a>
      </div>
    </div>
    <div class="news-card">
      <img src="./assets/images/3.jpg">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quaerat
        illo molestias ea quibusdam voluptatum ullam repellendus nobis,
        reprehenderit sed Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Suscipit, minus?
      </p>
      <div class="buttons">
        <a [routerLink]="['/']" class="btn">01 jan</a>
        <a [routerLink]="['/']" class="btn">read more </a>
      </div>
    </div>
    <div class="news-card">
      <img src="./assets/images/4.jpg" />
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quaerat
        illo molestias ea quibusdam voluptatum ullam repellendus nobis,
        reprehenderit sed Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Suscipit, minus?
      </p>
      <div class="buttons">
        <a [routerLink]="['/']" class="btn">01 jan</a>
        <a [routerLink]="['/']" class="btn">read more </a>
      </div>
    </div>
  </div>
</div>

<div id="text-uppercase">
  <h2 class="dispaly-4  mt-4 text-center  p-4">
    Don't miss out, stay <span class="mainColor">updated</span>
  </h2>

  <div class="inputs">
    <input type="text d-block" placeholder="ENTER YOUR EMAIL" />

    <button [routerLink]="['/']" class="btn">subscribe</button>
  </div>
</div>

<footer>
  <h4>
    copyright @2019 || Made With
    <i style="color: red" class="fa fa-heart"></i> By Mohamed Eldiyasty ~
    Diyasty@facebook.com ||
  </h4>
  <hr />
</footer>
