<div id="team">
  <h2 class="dispaly-4 p-4">Meet Our <span class="mainColor">Team</span></h2>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptate,
    accusamus sapiente facere distinctio rem.
  </p>

  <div class="image-container">
    <div class="team-content">
      <img
        class="rounded-circle"
        src="./assets/images/worker3.jpeg"
        height="150px"
        width="150px"
      />
      <h5>Adam M. Villalobos</h5>
      <p class="lead mainColor">project manger</p>
      <div class="team-icon">
        <a [routerLink]="['/']"><i class="fa fa-facebook"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-twitter-square"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-instagram"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>

    <!--  -->
    <div class="team-content">
      <img
        class="rounded-circle"
        src="./assets/images/worker2.jpg"
        height="150px"
        width="150px"
      />
      <h5>Adam M. Villalobos</h5>
      <p class="lead mainColor">project manger</p>
      <div class="team-icon">
        <a [routerLink]="['/']"><i class="fa fa-facebook"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-twitter-square"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-instagram"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>

    <!--  -->
    <div class="team-content">
      <img
        class="rounded-circle"
        src="./assets/images/worker1.png"
        height="150px"
        width="150px"
      />
      <h5>Adam M. Villalobos</h5>
      <p class="lead mainColor">project manger</p>
      <div class="team-icon">
        <a [routerLink]="['/']"><i class="fa fa-facebook"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-twitter-square"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-instagram"></i></a>
        <a [routerLink]="['/']"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
    <!--  -->
  </div>
</div>
