<div id="client">
  <div class="text-center text-uppercase">
    <h2 class="dispaly-4 p-4">
      client <span class="mainColor">testimonial</span>
    </h2>
    <p class="mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptate,
      accusamus sapiente facere distinctio rem.
    </p>
  </div>
  <div class="content">
		<img  class="rounded-circle" src="./assets/images/client.png" alt="" height="100px" width="100px">
		<h5>David Blank</h5>
		<p>owner project</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ipsa magnam maiores eos ducimus saepe laudantium modi aspernatur iure<br>, tempore dicta, mollitia dolores ratione amet beatae officia earum veritatis illo vero repellendus voluptatibus possimus expedita!</p>

		<div class="mainColor client-star">
				<i class="fa fa-star"></i>
					<i class=" fa fa-star"></i>
			
				<i class="fa fa-star"></i>
			
				<i class=" fa fa-star"></i>
			
				<i class="fa fa-star"></i>
			
			</div>
		</div>

  <!-- 	
			<div class="text-center text-uppercase">
			
		    <h2 class="dispaly-4 p-4">client <span class="mainColor">testimonial</span></h2>
    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptate, accusamus sapiente facere
      distinctio rem.</p> 
      		</div>

      		<div class="content text-center">
      			      <div class="d-flex align-items-center flex-column">
        <div class="p-3 row">
          <div class="col-lg-3 col-sm-12">
<img  class="rounded-circle" src="./assets/images/client.png" alt="" height="100px" width="100px">          </div>
          <div class="col-lg-8 col-sm-12 client-text">
            <div class="h5">David Blank</div>
            <p>owner project</p>
          </div>

      		</div>

</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ipsa magnam maiores eos ducimus saepe laudantium modi aspernatur iure, tempore dicta, mollitia dolores ratione amet beatae officia earum veritatis illo vero repellendus voluptatibus possimus expedita!</p>

<div class="mainColor client-star">
	<i class="fa fa-star"></i>
		<i class=" fa fa-star"></i>

	<i class="fa fa-star"></i>

	<i class=" fa fa-star"></i>

	<i class="fa fa-star"></i>

</div>
</div> -->
</div>
