<div id="features">
  <div class="features-heading">
    <h2>free <span class="mainColor">constructions</span> template from psd</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptate,
      accusamus sapiente facere distinctio rem.
    </p>
  </div>

  <div class="card-group text-uppercase">
    <div class="card text-center features-card">
      <div class="icon2">
        <i
          class="fa fa-paint-brush features-icon rounded-circle "
          aria-hidden="true"
        ></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">creative ideas</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nesciunt
          optio sit aut, porro eligendi.
        </p>
      </div>
    </div>
    <div class="card text-center features-card ">
      <div class="icon">
        <i
          class="fa fa-briefcase features-icon rounded-circle"
          aria-hidden="true"
        ></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">save work</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nesciunt
          optio sit aut, porro eligendi.
        </p>
      </div>
    </div>

    <div class="card text-center features-card">
      <div class="icon">
        <i
          class="fa fa-cog features-icon rounded-circle "
          aria-hidden="true"
        ></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">best quality</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nesciunt
          optio sit aut, porro eligendi.
        </p>
      </div>
    </div>
    <div class="card text-center features-card ">
      <div class="icon">
        <i class="fa fa-calendar features-icon rounded-circle"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">planing</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nesciunt
          optio sit aut, porro eligendi.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <img src="./assets/images/5.jpg" alt="Responsive image" width="50%" />
  <div class="content">
    <h2>Our services</h2>
    <div class="services-content">
        <i class="fa fa-briefcase services-icon rounded-circle" aria-hidden="true"></i>
        <h5>Creative deigns</h5>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="services-content">
        <i class="fa fa-calendar services-icon rounded-circle" aria-hidden="true"></i>
        <h5>Responsive design.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="services-content">
        <i class="fa fa-cog services-icon rounded-circle" aria-hidden="true"></i>
        <h5>Psd To html</h5>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="services-content">
        <i class="fa fa-home services-icon rounded-circle" aria-hidden="true"></i>
        <h5>Web devolvement.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
  </div>
</div>