/* You can add global styles to this file, and also import other style files */
$main-color : #ffc000 ;
$secondary-color:#2d3e50;
$white:#fff;
$black:#5f6467;
.mainColor{
	        color: $main-color;
}
//media //colors 

